body {
  margin: 0 2em;
  font-family: "Lucida Grande", Arial, Serif;
  color: black;
}

.flow {
    display: flex;
}

.flow .title {
  width: auto;
  font-size: 48px;
  margin: 1em auto;
}

.flow .stretch {
    flex: 1;
}

.title-heading {
  height: 2em;
  font-size: 48px;
  text-align: center;
  padding-top: 1em;
}

.brand-logo {
  background-image: url('./acme-logo.jpg');
  background-size: 100% 100%;
  width: 200px;
  height: 150px;
}

form {
  margin-left: 4em;
}

input {
  margin: 10px 6px;
}

